[submodule "front-end/secao-02-introducao-ao-react/dia-01/lista-conteudos/front-end/secao-02-introducao-ao-react/dia-01/lista-conteudos/sd-026-b-exercise-frontend-content"]
	path = front-end/secao-02-introducao-ao-react/dia-01/lista-conteudos/front-end/secao-02-introducao-ao-react/dia-01/lista-conteudos/sd-026-b-exercise-frontend-content
	url = git@github.com:tryber/sd-026-b-exercise-frontend-content
