
        body{
            font-size: 16px;
            text-align: center;
        }

        h1{
            font-family: sans-serif;
        }

        p{
            font-style: italic;
            font-weight: 600;
            font-size: 3em;
        }

        ul{
            line-height: 40px;
            text-decoration: overline;
        }

        ul > .amarelo{
            color: yellow;
            background-color: rgb(186, 156, 37);
        }

        ul > .vermelho{
            color: red;
            background-color: rgb(130, 11, 11);
        }
        ul > .marrom {
            color: rgb(61, 35, 13);
            background-color: rgb(128, 87, 57);
        }